<h1>Share a new bookmark</h1>

<div>
  <%= form_for [@topic, @bookmark] do |b| %>
    <div class="form-group">
      <%= b.label :url %>
      <%= b.text_field :url, class: 'form-control', placeholder: "Enter bookmark url" %>
    </div>
    <%= b.submit "Save", class: 'submit-button' %>
  <% end %>
</div>

<br>

<%= link_to '<i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>'.html_safe, :back %>
