<h1> New topic </h1>
<div>
  <%= form_for @topic do |w| %>
    <%= w.label :title %>
    <%= w.text_field :title, class: 'form-control', placeholder: "Enter topic name" %>
    <br>
    <%= w.submit "Save", class: 'submit-button' %>
  <% end %>
  <br>
<%= link_to '<i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>'.html_safe, :back %>
</div>
